:textile
  Hello, this is an extremely preliminary PBCore validator. It can detect certain types of errors and deviations from "best practices" in "PBCore":http://www.pbcore.org/ records.

  Note that this tool is *not* officially endorsed by anyone affiliated with PBCore.

  For more information, see "the blog post introducting the validator":http://vermicel.li/blog/2009/02/02/introducing-the-pbcore-validator.html.

%h2 Validate a document
%form{ :action => "/validator", :method => "post", :enctype => "multipart/form-data" }
  %p
    %label{ :for => "file" } Select a file to validate:
    %input{ :id => "file", :name => "file", :type => "file" }
  %p
    %label{ :for => "textarea" } <strong>or</strong> paste a PBCore document into the textbox:
    %br
    %textarea{ :id => "textarea", :name => "textarea", :rows => 5, :cols => 80 }
  %p
    %label{ :for => "version" } PBCore Version:
    %select{ :name => "version", :id => "version" }
      - Validator::PBCORE_VERSIONS.sort.each do |code, version|
        %option{ :value => code, :selected => (code == "1.2") }&= version[:version]
  %p
    %input{ :type => "reset", :value => "Clear Form" }
    %input.s{ :type => "submit", :value => "Validate PBCore" }

%hr

:textile
  This PBCore validate update was started on 10/07/2014 by Tessa Fallon for the AMIA/DLF Hack Day. The PBCore validator is written by mike castleman and is copyright (c) 2009 by "Roasted Vermicelli, LLC":http://vermicel.li/ and released under the terms of the "GNU General Public License":http://www.gnu.org/licenses/gpl.html, "version 3":COPYING.txt or later.

  You can "browse the source code":http://github.com/mlc/pbcorevalidator or "contact the author":mailto:mike@vermicel.li.

  This work employs <a href="http://www.pbcore.org/">PBCore</a>. The PBCore (Public Broadcasting Metadata Dictionary) was created by the public broadcasting community in the United States of America for use by public broadcasters and others. Initial development funding for PBCore was provided by the Corporation for Public Broadcasting.  The PBCore is built on the foundation of the Dublin Core (ISO 15836), an international standard for resource discovery (<a href="http://dublincore.org/">http://dublincore.org</a>), and has been reviewed by the Dublin Core Metadata Initiative Usage Board. Copyright: 2005, Corporation for Public Broadcasting.
