!!! XML
!!! Strict
%html{ :xmlns=>"http://www.w3.org/1999/xhtml", "xml:lang"=>"en", :lang=>"en" }
  %head{ :profile => "http://www.w3.org/2005/10/profile" }
    %title PBCore Validator
    %link{ :rel => "stylesheet", :type => "text/css", :href => "/css" }
    %link{ :rel => "icon", :type => "image/x-icon", :href => "/favicon.ico" }
  %body
    %h1 PBCore Validator
    = yield